* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: "Circular Std";
    src: url(../fonts/circular-std.ttf);
}
/* Section About Yosemite */
.about-yosamite {
    background-image: url(../img/about-location/section-about-yosemite/bg.jpg);
    padding: 80px 0;
}

.about-yosamite-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
}
.about-yosamite-content {
    max-width: 55%;
    line-height: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.about-yosamite-empty-column {
    padding: 0 15px 0 15px;
    width: auto;
}
.about-yosamite-text {
    text-align: center;
}
.about-yosamite-text h2{
    font-weight: 500;
    font-size: 44px;
    font-family: "Circular Std", serif;
}
.about-yosamite-text p{
    font-weight: 400;
    margin-top: 45px;
}
.about-yosamite-photo{
    display: flex;
    justify-content: center;
    margin: 45px 0 0 0;
    max-height: 400px;
}

.about-yosamite-photo img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

/* Section services */

.services{
    padding: 100px 40px;
    background-image: url(../img/about-location/section-services/bg.jpg);
}
.services-box {
    margin: 0 20px;
}

.services-text-preview {
    margin-top: 30px;
    padding: 0 15px;
}

.services-text-preview p{
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 25.6px;
}

.services-cards-box {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
}

.services-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30%;
    padding: 0 15px;
    margin-top: 30px;
}

.services-card div {
    display: block;
    position: relative;
    max-width: 100%;
}

.services-card div img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    /* object-fit: cover; */
}

.services-card-p-name{
    color: white;
    text-align: center;
    margin-top: 20px;
    font-family: "Circular Std", serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 35px;
}

.services-card-p-text {
    color: white;
    text-align: center;
    margin-top: 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
}