@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

@font-face {
    font-family: "Circular Std";
    src: url(../fonts/circular-std.ttf);
}
/* Section About Yosemite................................................................................ */

.about-yosamite {
    background-image: url(../img/about-location/section-about-yosemite/bg.jpg);
    padding: 80px 0;
}

.about-yosamite-box {
    display: flex;
    justify-content: center;
    padding: 0 24px;
}
.about-yosamite-content {
    max-width: 55%;
    line-height: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.about-yosamite-text {
    text-align: center;
}
.about-yosamite-text h2{
    font-weight: 500;
    font-size: 34px;
    font-family: "Circular Std", serif;
    line-height: 40px;
}
.about-yosamite-text p{
    font-weight: 400;
    margin-top: 45px;
}
.about-yosamite-photo{
    display: flex;
    justify-content: center;
    margin: 45px 0 0 0;
    max-height: 400px;
}

.about-yosamite-photo img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

/* Section services............................................................................................ */

.services{
    padding: 90px 24px;
    background-image: url(../img/about-location/section-services/bg.jpg);
    background-size: cover;
    width: 100%;
}

.services-text-preview {
    margin-top: 30px;
}

.services-text-preview p {
    color: white;
    text-align: center;
    line-height: 25.6px;
}

.services-card-box {
    margin-top: 45px;
}

.card {
    border: 0;
    background-color: #fff0;
}

.card img {
    border-radius: 10px;
}

.card-body h5 {
    font-weight: 500;
    font-size: 22px;
    font-family: "Circular Std", serif;
    line-height: 30px;
    color: white;
    text-align: center;
}

.card-body p {
    color: white;
    line-height: 25.6px;
    text-align: center;
}
/* Section Season Activities................................................................................ */

.season-activities {
    background-image: url(../img/about-location/section-season_activities/bg-dark.jpg);
    padding: 80px 0;
}

.season-activities-header p {
    font-family: "Circular Std", serif;
    font-size: 44px;
    font-weight: 500;
    line-height: 52px;
    text-align: center;
}

.season-activities-boxes {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}

.season-activities-box {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.season-activities-img-box img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.season-activities-p-name {
    font-family: "Circular Std", serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 35px;
    text-align: left    ;
}

.season-activities-p-text {
    line-height: 25.6px;
    text-align: left;
}

.season-activities-list {
    margin-top: 20px;
}

.season-activities-column-list {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.season-activities-ul div div{
    display: flex;
    flex-direction: row;
    line-height: 25.6px;
    margin-bottom: 16px;
    margin-right: 15px;
}

.season-activities-ul img {
    width: 25px;
    height: 25px;
}

.season-activities-spa {
    padding: 80px 0 0 0;
}
.season-activities-spa div{
    margin-top: 30px;
    padding: 0 15px;
}

.season-activities-spa h2{
    text-align: center;
    font-family: "Circular Std", serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 35px;
}

.season-activities-spa p {
    text-align: center;
    line-height: 25.6px;
}

.season-activities-spa-photo {
    display: flex;
    justify-content: center;
    max-height: 400px;
}

.season-activities-spa-photo img {
   width: 100%;
   border-radius: 10px;
   object-fit: cover;
}

/* Section form................................................................................................................. */

.section-form {
    background-image: url(../img/about-location/section-form/bg.jpg);
    background-attachment: fixed ;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

.section-form-boxes {
    padding: 80px 40px;
}

.section-form-box {
    margin-top: 30px;
    padding: 0 15px;
}

.section-form-box-big-text {
    color: white;
    text-align: left;
    font-family: "Circular Std", serif;
    font-size: 44px;
    font-weight: 500;
    line-height: 52px;
}

.section-form-box-small-text {
    color: white;
    text-align: left;
    font-size: 19px;
    font-weight: 400;
    line-height: 30.4px;
}