:root {
    --accent-color: rgb(236, 235, 235);
}
 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.background {
    background-color: var(--accent-color);
}

@font-face {
    font-family: "Circular Std";
    src: url(../fonts/circular-std.ttf);
}
@media (min-width: 700px) {
    .title-words {
    }      
}
/* Block 1 */
.title-words {
    max-width: 1000px;
    margin: auto;
    color: var(--main-color);
    font-family: "Circular Std";
}      
h1 {
    font-weight: 40px;
    font-weight: lighter;
    text-align: center;
    font-family: "Circular Std";
    padding-top: 80px;
    }
.title-words > .location-info{
    font-size: 20px;
    text-align:center;
    padding-top: 90px;
    padding-bottom: 90px;
    min-width: 320px;
    line-height: 1.6;        
}
h4 {
    font-size: 28px;
    text-align: inherit;
    color: var(--main-color);
    font-family: "Circular Std";
}

h6 {
    font-size: 24px;
    text-align: inherit;
    line-height: 2;
    padding: 15px 6em 0;
    justify-content: none;
    color: var(--main-color);
    margin: auto;
    max-width: 1200px;
    display: grid;  
    font-family: "Circular Std";
}
/* Block 2 */
.how-to-get-transport {
    margin: auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 3.5fr 3fr;
    grid-column-gap: 30px;
    padding: 20px;
}
@media (min-width: 700px) {
    .railways-loc {
        flex: 1;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}
.railways_loc {
    width: 100%;
    border-radius: 10px;
}
@media (min-width: 700px) {
    .two_pictures{
        display: row;
    }
}
.two_pictures {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.lift {
    width: 100%;
    border-radius: 10px;
}
.house {
    width: 100%;
    border-radius: 10px;
}

/* Block 3 */
.contact-map {
    width: 100%;
    height: 400px;

}

/* Block 4 */
.contact-form {
    background: rgba(0, 0, 0, 0.753) url(../img/contact/form/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    padding: 90px 24px;
}

.contact-form-header {
    text-align: left;
    font-family: "Circular Std", serif;
    font-size: 34px;
    font-weight: 500;
    line-height: 40px;
}

.contact-form-text {
    text-align: left;
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
}

.contact-form-list>div {
    margin-bottom: 15px;
}

.contact-form-list>div>h3 {
    text-align: left;
    font-family: "Circular Std", serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 5px;
    color: white;
}

.contact-form-list>div>a,
.contact-form-list>div>p {
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    color: white;
}

.section-form-box {
    background-color: white;
    padding: 31px 27px;
    border-radius: 10px;
}

.section-form-input {
    margin-bottom: 24px;
}

.section-form-input input {
    background-color: rgba(36, 31, 31, 0.24);
    border: 0;
    padding: 16px 24px;
    border-radius: 34px;
    width: 100%;
    outline-color: #3b99fc;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.568);

}

.section-form-button {
    margin-top: 36px;
    padding: 16px 24px;
    width: 100%;
    border: 0;
    background-color: #f98250;
    border-radius: 34px;
}

.section-form-button span {
    color: white;
}

@media (min-width: 750px) {

    /* Block 2 */
    .contact-section-img {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: auto;
    }

    .little-img-block {
        margin: 0 0 10px 0;
        padding: 10px;
        width: 100%;
    }

    /* Block 3 */
    .contact-map {
        height: 800px;
    }

    /* Block 4 */
    .contact-form {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .contact-form-header {
        text-align: left;
        font-family: "Circular Std", serif;
        font-size: 39px;
        font-weight: 500;
        line-height: 46px;
    }

    .call-us-a {
        display: flex;
        flex-direction: column;
    }

    .contact-form-text {
        margin-bottom: 30px;
    }

    .contact-form-list {
        display: grid;
        grid-template-columns: 150px 150px;
    }

    .section-form-box {
        width: 40%;
        margin-left: 20px;
    }
}