@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

@font-face {
    font-family: "Circular Std";
    src: url(../fonts/circular-std.ttf);
}

/* Block 1 */
h1 {
    font-size: 39px;
    font-family: "Circular Std";
    text-align: center;
    margin: 15px;
}

h5 {
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    justify-content: flex-start;
    color: var(--main-color);
    margin: 25px;
    line-height: 26px;
    display: flex;
    flex-direction: column;
}

h4 {
    margin: 20px;
    color: var(--main-color);
    font: lighter
}

h6 {
    font-size: 18px;
    text-align: inherit;
    padding: 1em 1px 30px 5px;
    justify-content: none;
    color: var(--main-color);
    margin: 25px;
    line-height: 26px;
    display: flex;
    flex-direction: column;
}

/* Block 2 */
.main_pictures {
    margin: auto;
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-column-gap: 20px;
    padding: 40px;
}

.railways {
    width: 100%;
    border-radius: 10px;
}

.two_pictures {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.railway-ways {
    width: 100%;
    border-radius: 10px;
}

.lift {
    width: 100%;
    border-radius: 10px;
}

.main-img-block img {
    max-width: 60px;
    margin: 40px;
    display: flex;
    flex-flow: row;
}

h4 {
    margin: 20px;
    color: var(--main-color);
}


/* Block 3 */
.contact-map {
    width: 100%;
    height: 400px;

}

/* Block 4 */
.contact-form {
    background: rgba(0, 0, 0, 0.753) url(../img/contact/form/bg.jpg);
    background-size: cover;
    padding: 90px 24px;
}

.contact-form-header {
    text-align: left;
    font-family: "Circular Std", serif;
    font-size: 34px;
    font-weight: 500;
    line-height: 40px;
}

.contact-form-text {
    text-align: left;
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
}

.contact-form-list>div {
    margin-bottom: 16px;
}

.contact-form-list>div>h3 {
    text-align: left;
    font-family: "Circular Std", serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 5px;
    color: white;
}

.contact-form-list>div>a,
p {
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    color: white;
}

.section-form-box {
    background-color: white;
    padding: 31px 27px;
    border-radius: 10px;
}

.section-form-input {
    margin-bottom: 24px;
}

.section-form-input input {
    background-color: rgba(36, 31, 31, 0.24);
    border: 0;
    padding: 16px 24px;
    border-radius: 34px;
    width: 100%;
    outline-color: #3b99fc;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.568);

}

.section-form-button {
    margin-top: 36px;
    padding: 16px 24px;
    width: 100%;
    border: 0;
    background-color: #f98250;
    border-radius: 34px;
}

.section-form-button span {
    color: white;
}

@media (min-width: 750px) {

    /* Block 2 */
    .contact-section-img {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: auto;
    }

    .little-img-block {
        margin: 0 0 10px 0;
        padding: 10px;
        width: 100%;
    }

    /* Block 3 */
    .contact-map {
        height: 800px;
    }

    /* Block 4 */
    .contact-form {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .contact-form-header {
        text-align: left;
        font-family: "Circular Std", serif;
        font-size: 39px;
        font-weight: 500;
        line-height: 46px;
    }

    .call-us-a {
        display: flex;
        flex-direction: column;
    }

    .contact-form-text {
        margin-bottom: 30px;
    }

    .contact-form-list>div {
        display: flex;
        justify-content: space-between;
        margin: 40px 0;
    }

    .section-form-box {
        width: 40%;
        margin-left: 20px;
    }
}