* {
    margin: 0;
}

img {
    max-width: 30%;
    max-height: 30%;
    min-width: 10%;
    min-height: 10%;
}

@font-face {
    font-family: "Circular Std";
    src: url(../fonts/circular-std.ttf);
}

h1, h2, h3{
    font-family: "Circular Std";
}

h4, h5 ,h6 {
    font-family: "Roboto";
}

.order-call{
    background-image: url(../img/index/order-call/fon-order.jpg);
    height: 700px;
    background-position: 50%;
    justify-content: center;
    align-items: center;
}

.order-call-form{
    background-color: white;
    margin: 5%;
    padding: 5%;
    border-radius: 5%;
   
	text-align: center;
   
}

.order-call-form > h3, p, form{
    margin: 15px;
    
}

@media (min-width: 600px) {
   .order-call-form{
    position: relative;
    max-width: 480px;
   }
  }


.adventure-starts{
    background-image: url(../img/index/adventure-starts/fon-adventure.webp);
}

.cabin-rentals{
    background-image: url(../img/index/cabin-rentals/fon-cabin.webp);
}

.things-to-do{
    background-image: url(../img/index/things-to-do/fon-things.webp);
}



/* Second Half */
.get-full-answer {
    background-image:url(../img/index/get-full-answer/get-full-answer-background.webp);
}

.our-facilities {
    background-image: url(../img/index/our-facilities/our-facilities-background.webp);
}

.shop-cafe {
    background-image: url(../img/index/shop-cafe/shop-cafe.webp);
}

.testimonials {
    background-image: url(../img/index/testimonials/testimonials-background.webp);
}

.reservation {
    background-image: url(../img/index/reservation/reservation-background.webp);
}