* {
    margin: 0;
}

img {
    max-width: 30%;
    max-height: 30%;
    min-width: 10%;
    min-height: 10%;
}

@font-face {
    font-family: "Circular Std";
    src: url(../fonts/circular-std.ttf);
}

h1, h2, h3{
    font-family: "Circular Std";
    text-align: center;
}

h4, h5 ,h6 {
    font-family: "Roboto";
}

.order-call{
    background-image: url(../img/index/order-call/fon-order.jpg);
    height: 700px;
}


.adventure-starts{
    background-image: url(../img/index/adventure-starts/fon-adventure.webp);
}

.cabin-rentals{
    background-image: url(../img/index/cabin-rentals/fon-cabin.webp);
}

.things-to-do{
    background-image: url(../img/index/things-to-do/fon-things.webp);
}



/* Second Half */
.get-full-answer {
    padding: 60px 0;
    background-image:url(../img/index/get-full-answer/get-full-answer-background.webp);
    background-position: center;

}
.get-full-answer div {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.get-full-answer p {
    font-family: "Circular Std";
    font-size: 60px;
    color:white;
    text-align: center;
    font-weight: bold;
}
.orange-button {
    margin: 7px;
	background-color:#f98250;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: "Roboto";
	font-size:15px;
	padding:16px 31px;
	text-decoration:none;
    font-weight: bold;
}

.orange-button:hover {
    transition: 1s;
    background-color:#ffffff;
    color: #000;
}

.orange-button:active {
    position:relative;
    top:1px;
}

.transparent-button {
    margin: 7px;
    background-color:transparent;
	border-radius:28px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:"Roboto";
	font-size:15px;
	padding:16px 31px;
	text-decoration:none;
    font-weight: bold;
}

.transparent-button:hover {
    transition: 1s;
	background-color:#ffffff;
    color: #000;
}

.transparent-button:active {
	position:relative;
	top:1px;
}

.our-facilities {
    background-image: url(../img/index/our-facilities/our-facilities-background.webp);
}

.shop-cafe {
    background-image: url(../img/index/shop-cafe/shop-cafe.webp);
}

.testimonials {
    background-image: url(../img/index/testimonials/testimonials-background.webp);
}

.reservation {
    background-image: url(../img/index/reservation/reservation-background.webp);
}