header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #fff;
    height: 138px;
}

.logo {
    text-align: center;
    margin-left: 25px;
    margin-bottom: 29px;
}
@font-face {
    font-family: "Circular Std";
    src: url(../fonts/circular-std.ttf);}

img {
     width: 60%;
     border-radius: 10px;
     margin: 25px;
             
    }

h1,h2,h3,p {
    font-family: "Circular Std";
    justify-content: flex-start;
}


    .logo {
    text-transform: uppercase;
    width: 30%; 
        }

h1 {
    font-size: 39px;
    font-family: "Circular Std";
    text-align: center;

}

    h2 {
        font-size: 35px;
        text-align: left;
          box-sizing: border-box;
        }
  h3 {
    font-size: 23px;
    text-align: left;
  }

.river-chalet {
    display: flex;
    align-items: stretch;
padding-left: 25px;
padding-right: 40px;
}
.lookout-lodge {
    display: flex;
    align-items: stretch;
padding-left: 25px;
}
.smoky-view-chalet {
    display: flex;
    align-items: stretch;
padding-left: 25px;
}
.mountain-haven {
    display: flex;
    align-items: stretch;
padding-left: 25px;
}
.mountain-splash {
    display: flex;
    align-items: stretch;
padding-left: 25px;

}