:root {
   --main-color: #292827;
   --accent-color: #e9e6e3
}
@font-face {
   font-family: "Circular Std";
   src: url(../fonts/circular-std.ttf);
}
.special-price {
   width: 40%;
}
price {
   min-width: 400px;
   font-size: 30px;
   font-weight: lighter;
   font-family: "Circular Std";
   text-align: center;
   color: #599673;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}
.special-price {
   max-width: 400px;
   margin: auto;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   font-size: 20px;
   font-weight: lighter;
   font-family: "Circular Std";
   width: 100%;
   
}
.timedown {
   min-width: 400px;
   margin: auto;
   border: 4px solid#599673;
   border-radius: 10px;
   width: auto;
   text-align: center;
   background-color: #cfe6d0;
   font-size: 17px;
   font-weight: lighter;
   font-family: "Circular Std";
   padding: px 2em 0;
   display:flex;
   justify-content: space-around;
   box-sizing: border-box;
}

.day,.hour,.minute,.second {
   max-width: 500px;
   margin: auto;
   font-size: 30px;
   font-weight: lighter;
   font-family: "Circular Std";
   color: #db7f33;
}
@media (min-width: 750px) {
   .products {
      display: grid;
      grid-template-columns: 7fr 3fr;
      grid-column-gap: 30px;
      grid-column: 35px;
      font-family: "Circular Std";
      color: var(--main-color);
      max-width: 1200px;
      min-width: 700px;
      margin: auto;
   }
} 
p {
    font-size:16px;
    line-height: 2;
    padding-left: 20px;
}
h1 {
    font-size: 44px;
    text-align: center;
    padding-top: 90px;
}
.clock {
   font-size: 30%;
   color: black;
}
h2 {
   font-family: "Circular Std,serif";
   font-size: 35px;
   font-weight: lighter;
   text-align: left;
   padding-top: 80px;
   padding-bottom: 20px;
}
.price {
   color: #599673;
   font-weight:bold;
   padding-left: 20px;
}
h3 {
   font-size: 25px;
   text-align: left;
   font-weight: lighter;
   padding-left: 20px;
}
.cabin-rentals-img {
   display: flex;
   justify-content: center;
   padding-top: 80px;
   padding-bottom: 80px;
   padding-left: 20px ;
   padding-right:20px ;
   }
.boxes {
   padding: 0 24px;
}
.cards-img {
   width: 100%;
   border-radius: 15px;
}
.bottons {
   margin:auto;
   padding-top: 50px;
   grid-template-columns: 7fr 3fr;
   color: var(--main-color);
   font-family: "Circular Std";
   justify-content: flex-start;
}
section {
 background-color: #e7e5e3;
}
.section-form {
   background-image: url(../img/about-location/section-form/bg.jpg);
   background-attachment:initial;
   background-size:cover;
}
.section-form-boxes {
   padding: 80px 24px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.section-form-text-box {
   margin-top: 30px;
   color: var(--main-color);
}
.section-form-box-big-text {
   color: white;
   text-align: left;
   font-family: "Circular Std", serif;
   font-size: 39px;
   font-weight: 500;
   line-height: 40px;
   text-align: center;
}
.section-form-box-small-text {
   color: white;
   text-align: center;
   font-size: 20px;
   font-weight: 400;
   line-height: 30.4px;
}
.section-form-box {
   background-color: white;
   padding: 31px 27px;
   width: 30em;
   border-radius: 20px;
}
.section-form-input {
   margin-bottom: 24px;
   border-radius: 34px;
}
.section-form-input input {
   background-color: rgb(248, 244, 244);
   border: 0;
   padding: 16px 24px;
   border-radius: 40px;
   width: 100%;
   outline-color: #f58f09;
}
input::placeholder {
   color: rgba(5, 5, 5, 0.568);
}
.section-form-button {
   margin-top: 70px;
   padding: 20px 34px;
   border: 0;
   background-color: #f98250;
   border-radius: 50px;
   width: 100%;
}
   