


/* Section About Cabin Rentals River Chalet */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face 
    font-family: "Circular Std";
    src: url(../fonts/circular-std.ttf);

h2 {
    font size: 44px;
    text-align: center;
}
    
img { 
    width: 50%;
     
}

.river-chalet {
    background-image: url(../img/rent-offer/rever-chalet.webp);
    padding: 50px 0;
    border-radius: 10px;
}

